@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At The Times, we aim to create the best possible reader experience across every medium. This involves knowing certain things about our readership. For example, knowing which articles you read helps us understand your interests. That information lets us select the types of articles we show you in certain parts of the app or site. (This article selection process is still guided by our journalistic judgment, and doesn't impact large portions of the app or site.)

    It is important to note that The Times is primarily funded by subscriptions and advertising. Both functions require the use of readers’ data. For example, we use readers’ data to identify who may be interested in a subscription in order to show you Times ads on other websites. Our advertisers ask us to use reader data so their ads can be targeted at the right audiences..
</p>
